.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.profile-photo {
  margin-bottom: 20px;
}

.full-name {
  margin-bottom: 20px;
}

.address {
  margin-bottom: 20px;
}
